@using MeditationVeranstaltungApp.Data
@using System.Security.Claims;
@{
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    ViewData["Title"] = "Reise Info";
    var reiseInfo = ViewBag.ReiseInfo;
}


<div class="container pt-3 pb-3">

    @{
        if (User.IsInRole("Driver"))
        {
            <h3>Tour Info</h3>
        }
        else
        {
            <h3>Buchung Info</h3>
        }
    }
    <div class="pt-4 pb-4 text-center d-flex flex-column" style="gap:20px;min-height: 100vh;">

        <!-- item start -->


        <div class="d-flex flex-column" style="position: relative;border: 1px dotted black; border-radius: 5px;">
            <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Reise Info&nbsp;&nbsp;</h5>

            <div class="d-flex p-3 justify-content-between">
                <div class="d-flex flex-column">
                    <span><strong>Anzahl Männer</strong></span>
                    <span>@reiseInfo.AnzahlMaenner<span>
                </div>

                <div class="d-flex flex-column">
                    <span><strong>Anzahl Frauen</strong></span>
                    <span>@reiseInfo.AnzahlFrauen<span>
                </div>

                <div class="d-flex flex-column">
                    <span><strong>AnkunftAm</strong></span>
                    <span>@reiseInfo.AnkunftAm @reiseInfo.AnkunftUm</span>
                </div>

                <div class="d-flex flex-column">
                    <span><strong>Ankuftsort</strong></span>
                    <span>@reiseInfo.AnkunftOrt</span>
                </div>

                <div class="d-flex flex-column">
                    <span><strong>AbfahrtAm</strong></span>
                    <span>@reiseInfo.AbfahrtAm @reiseInfo.AbfahrtUm</span>
                </div>

                <div class="d-flex flex-column">
                    <span><strong>Abfahrtsort</strong></span>
                    <span>@reiseInfo.AbfahrtOrt</span>
                </div>
            </div>

            <div class="d-flex flex-column  p-3">
                <span><strong>Notiz</strong></span>
                <span>@reiseInfo.Notiz</span>
            </div>



        </div>

        @{
            if (reiseInfo.Kontakt != null)
            {
                <div class="d-flex p-3 justify-content-between" style="position: relative;border: 1px dotted black; border-radius: 5px;">
                    <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Kontakt Info&nbsp;&nbsp;</h5>


                    <div class="d-flex flex-column">
                        <span><strong>Name</strong></span>
                        <span>@reiseInfo.Kontakt.Anrede @reiseInfo.Kontakt.Vorname @reiseInfo.Kontakt.Nachname</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span><strong>E-Mail</strong></span>
                        <span>@reiseInfo.Kontakt.Email</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span><strong>Telefon</strong></span>
                        <span>@reiseInfo.Kontakt.Telefon</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span><strong>Stadt</strong></span>
                        <span>@reiseInfo.Kontakt.Stadt (@reiseInfo.Kontakt.Land)</span>
                    </div>


                </div>
            }

            if (reiseInfo.Fahrer != null)
            {
                <div class="d-flex p-3 justify-content-between" style="position: relative;border: 1px dotted black; border-radius: 5px;">
                    <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Fahrer Info&nbsp;&nbsp;</h5>


                    <div class="d-flex flex-column">
                        <span><strong>Name</strong></span>
                        <span>@reiseInfo.Fahrer.Anrede @reiseInfo.Fahrer.Vorname @reiseInfo.Fahrer.Nachname</span>
                    </div>



                    <div class="d-flex flex-column">
                        <span><strong>E-Mail</strong></span>
                        <span>@reiseInfo.Fahrer.Email</span>
                    </div>


                    <div class="d-flex flex-column">
                        <span><strong>Telefon</strong></span>
                        <span>@reiseInfo.Fahrer.Telefon</span>
                    </div>

                    <div class="d-flex flex-column">
                        <span><strong>Stadt</strong></span>
                        <span>@reiseInfo.Fahrer.Stadt (@reiseInfo.Fahrer.Land)</span>
                    </div>


                </div>
            }

            if (reiseInfo.AbgesagtAm != null)
            {
                <div class="d-flex p-3 justify-content-between" style="position: relative;border: 1px dotted black; border-radius: 5px;">
                    <h5 style="background-color: white;position: absolute; top: -15px; left: 45%;">&nbsp;&nbsp;Absage Info&nbsp;&nbsp;</h5>

                    <div class="d-flex flex-column">
                        <span><strong>AbgesagtAm</strong></span>
                        <span>@reiseInfo.AbgesagtAm.ToString("dd.MM.yyyy")</span>
                    </div>

                    <div class="d-flex flex-column flex-grow-1">
                        <span><strong>Grund</strong></span>
                        <span>@reiseInfo.AbsageGrund<span>
                    </div>

                </div>

            }
        }



        <!-- item end -->

        <div class="d-flex p-2 justify-content-between">
            <button type="button" class="btn btn-primary" onclick="history.back()">Zurück</button>
            @{
                if (User.IsInRole("Admin"))
                {
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#loeschenBestaetigungModal">Löschen</button>

                    <!-- Modal -->
                    <div class="modal fade" id="loeschenBestaetigungModal" tabindex="-1" aria-labelledby="loeschenBestaetigungModalLabel" aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <form asp-action="Loeschen" class="d-flex flex-column p-3 gap-3">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loeschenBestaetigungModalLabel">Löschen</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Sind Sie, dass Sie den Eintrag wirklich löschen wollen?</h5>
                                        <input hidden type="number" min="0" class="form-control" value="@reiseInfo.Id" id="Id" name="Id">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                        <button type="submit" class="btn btn-danger">Löschen</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }

                if (reiseInfo.AbgesagtAm == null)
                {
                    if (reiseInfo.Kontakt.UserId == userId)
                    {

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#absageBestaetigungModal">Absagen</button>

                        <!-- Modal -->
                        <div class="modal fade" id="absageBestaetigungModal" tabindex="-1" aria-labelledby="absageBestaetigungModalLabel" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <form asp-action="Absage" class="d-flex flex-column p-3 gap-3">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="absageBestaetigungModalLabel">Absage</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Schade, dass Sie nicht mitmachen wollen!</h5>

                                            <div class="d-flex flex-fill mt-1" style="gap:20px;">
                                                <input hidden type="number" min="0" class="form-control" value="@reiseInfo.Id" id="Id" name="Id">
                                                <div class="flex-fill">
                                                    <label for="AbsageGrund" class="form-label">Teilen Sie bitte den Grund mit!</label>
                                                    <textarea rows="4" class="form-control" id="AbsageGrund" name="AbsageGrund"> </textarea>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                            <button type="submit" class="btn btn-danger">Absagen</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <form asp-action="CreateEditReiseInfo" asp-route-id="@reiseInfo.Id">
                            <button type="submit" class="btn btn-warning">Editieren</button>
                        </form>
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FahrerZuweisen">Fahrer zuweisen</button>

                        <!-- Modal -->
                        <div class="modal fade" id="FahrerZuweisen" tabindex="-1" aria-labelledby="FahrerZuweisenModalLabel" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <form asp-action="FahrerZuweisenSubmit" class="d-flex flex-column p-3 gap-3">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="FahrerZuweisenModalLabel">Fahrer zuweisen</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Wählen Sie einen Fahrer aus!</h5>

                                            <div class="d-flex flex-fill mt-1" style="gap:20px;">
                                                <input hidden type="number" min="0" class="form-control" value="@reiseInfo.Id" id="Id" name="Id">
                                                <div class="flex-fill">
                                                    <select class="form-select" id="FahrerId" name="FahrerId">
                                                        @{
                                                            foreach (KontaktModel fahrer in reiseInfo.alleFahrer)
                                                            {
                                                                <option value="@fahrer.UserId">@fahrer.Vorname @fahrer.Nachname (@fahrer.Stadt) </option>
                                                            }
                                                        }
                                                    </select>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                            <button type="submit" class="btn btn-danger">Speichern</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    }
                }
            }

        </div>




    </div>

</div>
